extends ../default

block content
  main.main
        // Breadcrumb
        ol.breadcrumb
          li.breadcrumb-item Transações
          li.breadcrumb-item Registro
          li.breadcrumb-item Operações
          li.breadcrumb-item.active Detalhes
        .container-fluid
          .animated.fadeIn
            .row
              .col-md-12
                  .card
                    .card-header
                      i.fa.fa-edit
                      |  Operações - Detalhes
                      - var docid       = operations.id;
                      - var codope      = operations.operation;
                      - var desoper     = operations.description;
                      - var inv         = operations.invoice;
                      - var cntr        = operations.cntr;
                      - var dtinv       = operations.dtinvoice;
                      - var dtdepr      = operations.dtdeparture;
                      - var dtarriv     = operations.dtarrival;
                      - var dtdemur     = operations.dtdemurrage;
                      - var dtso        = operations.dtsalesorder;
                      - var suppl       = operations.supplier.description;
                      - var custom      = operations.customer.description;
                      - var stss        = operations.status.description;
                      - var di          = operations.importdeclation;
                      - var ativo       = operations.active;
                      - var dtcriacao   = operations.createdAt;
                    .card-body   
                      != messages()  
                      form.form-horizontal(action='/operations/delete/' + docid, method='post')                         
                        .form-group
                          label.form-control-label(for='lbloper') Operação
                          .controls
                            .input-group
                              input#operation.form-control(name='operation',size='16', type='text', value=codope, readonly=true)                        
                        .form-group
                          label.form-control-label(for='suppliername') Descrição de Medida
                          .controls
                            .input-group
                              input#description.form-control(name='description',size='16', type='text', value=desoper, readonly=true)
                        .form-group
                          label.form-control-label(for='lblinvo') Invoice
                          .controls
                            .input-group
                              input#invoice.form-control(name='invoice',size='16', type='text', value=inv, readonly=true)  
                        .form-group
                          label.form-control-label(for='lblcntr') Container
                          .controls
                            .input-group
                              input#cntr.form-control(name='cntr',size='16', type='text', value=cntr, readonly=true)           
                        .form-group
                          label.form-control-label(for='lbldtinvo') Data Invoice
                          .controls
                            .input-group                                                                                     
                              input#dtinvoice(type='text', name='dtinvoice', value=dtinv, readonly=true)
                        .form-group
                          label.form-control-label(for='lbldtinvo') Data Saída
                          .controls
                            .input-group                                                                                     
                              input#dtdeparture(type='text', name='dtdeparture', value=dtdepr, readonly=true)   
                        .form-group
                          label.form-control-label(for='lbldtinvo') Data Chegada
                          .controls
                            .input-group                                                                                     
                              input#dtarrival(type='text', name='dtarrival', value=dtarriv, readonly=true)   
                        .form-group
                          label.form-control-label(for='lbldtinvo') Data Demurrage
                          .controls
                            .input-group                                                                                     
                              input#dtdemurrage(type='text', name='dtdemurrage', value=dtdemur, readonly=true)  
                        .form-group
                          label.form-control-label(for='lbldtinvo') Data PV
                          .controls
                            .input-group                                                                                     
                              input#dtsalesorder(type='text', name='dtsalesorder', value=dtso, readonly=true)                
                        .form-group
                          label.form-control-label(for='lbldtinvo') Fornecedor
                          .controls
                            .input-group                                                                                     
                              input#supplier.form-control(type='text', name='supplier', value=suppl, readonly=true)                 
                        .form-group
                          label.form-control-label(for='lbldtinvo') Cliente
                          .controls
                            .input-group                                                                                     
                              input#customer.form-control(type='text', name='customer', value=custom, readonly=true)  
                        .form-group
                          label.form-control-label(for='lbldtinvo') Status
                          .controls
                            .input-group                                                                                     
                              input#status.form-control(type='text', name='status', value=stss, readonly=true)                 
                        .form-group
                          label.form-control-label(for='suppliername') D.I.
                          .controls
                            .input-group
                              input#importdeclation.form-control(name='importdeclation',size='16', type='text', value=di,  readonly=true)                                                    
                        .form-group
                          label.form-control-label(for='activedYN') Ativo?
                          .controls
                            .input-group
                              select#select.form-control-sm(name='active', disabled=true)
                                option(value='true', selected=ativo==true) Sim
                                option(value='false', selected=ativo==false) Não 
                        .form-group
                          label.form-control-label(for='createdAt') Criado em
                          .controls
                            .input-group
                              input#createdAt.form-control(size='16', type='text', readonly=true, value=formatDate(dtcriacao))                                                                                                              
                        .form-actions                          
                          a(href='/operations/edit/'+docid) 
                            button.btn.btn-sm.btn-success(type='button')
                              i.fa.fa-edit
                              |  Editar   
                            span    
                          button.btn.btn-sm.btn-primary(type='submit')
                            i.fa.fa-delicious
                            |  Deletar   
                          span         
                          a(href='/operations')                
                            button.btn.btn-sm.btn-info(type='button')
                              i.fa.fa-backward
                              |  Voltar a lista                               