extends ../default

block content
  main.main
        // Breadcrumb
        ol.breadcrumb
          li.breadcrumb-item Administração
          li.breadcrumb-item Configurações
          li.breadcrumb-item.active Clientes
        .container-fluid
          .animated.fadeIn
            .row
              .col-md-12
                  .card
                    .card-header
                      i.fa.fa-align-justify
                      |  Clientes
                    .card-body   
                      != messages()                        
                      table.table.table-striped
                        thead
                          tr
                            th Código
                            th Cliente
                            th País
                            th Estado / Província
                            th Cidade
                            th Contato  
                            th Ativo
                            th Ações
                        tbody       
                          if(list)                                                                                                                              
                            each custome in list  
                              - var  lnid = custome.id;                      
                              tr
                                td #{custome.customer}
                                td #{custome.description}                                                                
                                td #{custome.country}
                                td #{custome.state}
                                td #{custome.city}
                                td #{custome.contact} 
                                td #{ativo = custome.active==true?'Sim':'Não' }                            
                                td 
                                  .form-group
                                    form.form-horizontal(action='/customers/delete/'+lnid, method='post')                                      
                                      a(href='/customers/edit/'+lnid)
                                        button(type='button', style='background-color:transparent; border-color:transparent;')
                                          i.fa.fa-edit                                                                                                              
                                      span                                      
                                      button(type='submit', style='background-color:transparent; border-color:transparent;')
                                        i.fa.fa-remove
                        if (pages > 1)
                          ul.pagination
                            != createPagination(pages, page)  
                      a(href='/customers/new', target='_top')    
                       button.btn.btn-primary.btn-sm(type='button') Novo
                      a(href='/customers/exportxls', target='_self')    
                       button.btn.btn-success.btn-sm(type='button') Excel 